.App {
  text-align: center;
}

ul{
  list-style-type: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(216, 214, 214); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(197, 194, 194); 
}
#home-img{
  width:50%;
  height:auto;
}
.categories__slide {
  padding:16px;
  width:220px
}

.logoC{
  width: 100%;
  height: 100%;
  max-width: 200px !important;
  max-height: 110px !important;
  cursor: pointer;
}


